body {
  font-size: 20px;
}
.main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.calc {
  background-color: #1c93ee;
  width: 385px;
  padding: 30px;
  border-radius: 6px;
}
.calc-display-input {
  width: 360px;
  height: 60px;
  margin: 20px 0;
  border-radius: 6px;
  background-color: #1d1d1d;
  color: #fff;
  text-align: right;
  font-size: 35px;
  padding: 10px;
}
.calc-buttons-row {
  width: 100%;

  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 85px;
  height: 60px;
  background-color: #f4f4f4;
  font-size: 27px;
  color: #666666;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all;
  outline: none;
}

.btn-long {
  width: 185px;
}
.btn-hover-red:hover {
  background-color: #d83e33;
  color: #f2f2f2;
}
.btn-hover-orange:hover {
  background-color: #ff6a00;
  color: #f2f2f2;
}
.btn-hover-green:hover {
  background-color: green;
  color: #f2f2f2;
}
.btn:active {
  transform: translateY(-1px);
}
