* {
  border: 0;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  box-sizing: border-box;
}
/* div {
  border: 1px solid black;
} */

html,
body {
  overflow-y: hidden;
}
.container {
  display: flex;
  max-width: 1920px;
  min-width: 1440px;
  margin: 0 auto;
  border: 1px solid transparent;
}

.pole {
  width: 70%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.ball {
  position: absolute;
  top: -50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #b5e7e7;
  border: 2px solid #80d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball1 {
  position: absolute;
  top: -50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #b5e7e7;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball-nums {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.water {
  width: 100%;
  background-color: #9cdae7;
  height: 150px;
}

.right-panel {
  width: 30%;
  background-color: #cce9e6;
}
.score {
  width: 60%;
  margin: -75px auto;
  height: 150px;
  background-color: #fff;
  border-radius: 75px;
  margin-bottom: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 25px;
}

.calc {
  width: 90%;
  margin: 0 auto 30px auto;
  height: 550px;
  background-color: #e8e0c3;
  padding: 1%;
}
.tablo {
  height: 100px;
  background-color: #eeefef;
  border-radius: 5px;
  align-items: center;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
}
.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}
.btn {
  background-color: #fff;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.clear {
  grid-row: 1/3;
  grid-column: 4/4;
}
.enter {
  grid-row: 3/5;
  grid-column: 4/4;
}
.zero {
  grid-column: 1/3;
}
.delete,
.enter,
.clear {
  font-size: 20px;
}

.modal {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 40%;
  background-color: #fff;
  padding: 5% 10%;
}
.scoreIs {
  font-size: 40px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 100px;
  height: 50px;
  color: #fff;
  background-color: #9cdae7;
  font-weight: bold;
  font-size: 15px;
}
.buttons button:first-child {
  margin-right: 5px;
}

.tutor {
  margin-left: 5%;
  width: 120px;
  height: 40px;
  color: #000;
  background-color: #fff;
}
